# git ignore file

publish
packages/
AdaModel.edmx
AdaModel.edmx.tt
AdaModel.View.cs
AdaModelUtilities.cs
Compilacions/

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

/Ada/Docs/Help/Ada Documentation.chm
/Ada/Docs/Help/Ada Documentation.chw
/Ada/Docs/Help/Ada Documentation.msha
/Ada/Docs/Help/Ada Documentation.mshc
/Ada/Docs/Help/Install_Ada Documentation.bat
/Ada/Docs/Help/Remove_Ada Documentation.bat
/Ada/Docs/sancastleproject.shfbproj_delsys
