<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ideablade.configuration" type="IdeaBlade.Core.Configuration.IdeaBladeSection, IdeaBlade.Core" />
  </configSections>
  
  <ideablade.configuration version="6.00" xmlns="http://schemas.ideablade.com/2010/IdeaBladeConfig">
    <!-- See the DevForce Resource Center for more information on configuration settings:
	 http://drc.ideablade.com/devforce-2012/bin/view/Documentation/deploy-iis#HConfiguration
    -->
  <!-- See the DevForce Resource Center for more information on configuration settings:
	 http://drc.ideablade.com/devforce-2012/bin/view/Documentation/deploy-iis#HConfiguration
    --><logging logFile="log\DebugLog.xml" /><!-- See the DevForce Resource Center for more information on configuration settings:
	 http://drc.ideablade.com/devforce-2012/bin/view/Documentation/deploy-iis#HConfiguration
    --></ideablade.configuration>
<connectionStrings>
  <add name="AdaModelSystemEntities" connectionString="metadata=res://*/SystemModel.csdl|res://*/SystemModel.ssdl|res://*/SystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.delsys.net;initial catalog=DelsysAdaStaging;persist security info=True;user id=adadb;password=adadb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="AdaModelEntities" connectionString="metadata=res://*/AdaModel.csdl|res://*/AdaModel.ssdl|res://*/AdaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sql.delsys.net;Initial Catalog=DelsysAdaStaging;persist security info=True;user id=adadb;password=adadb;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  <!-- Remember to add your connection string(s) here -->
</connectionStrings><!-- 
  For more info see: 
  https://github.com/ServiceStack/ServiceStack/wiki/Run-servicestack-side-by-side-with-another-web-framework
  --><location path="api"><system.web><compilation debug="true" targetFramework="4.5" /><httpRuntime targetFramework="4.5" /><httpHandlers><add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" /></httpHandlers></system.web><!-- Required for IIS 7.0 --><system.webServer><modules runAllManagedModulesForAllRequests="true" /><validation validateIntegratedModeConfiguration="false" /><handlers><add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" /></handlers></system.webServer></location></configuration>