<div class="popover settings-popover" >
    <div class="arrow"></div>
    <h3 class="popover-title settings-title" ng-bind="title" ng-show="title"></h3>
    <form class="form-settings" role="form">
        <fieldset>
            <div class="form-group">
                <label class="control-label" for="inputTerminal" >Terminal:</label>
                <input ng-model="settings.terminal" class="form-control input-sm" id="inputTerminal" type="text" > 
            </div>                        
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="settings.rememberMe" ng-true-value="true" ng-false-value="false" > Recordar la sessión
                </label> 
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="settings.activeDirectory" ng-true-value="true" ng-false-value="false" > Utilizar Active Directory
                </label> 
            </div>
            
            <!-- Active directory settings -->
            <div ng-show="settings.activeDirectory" class="active-directory-fieldset" >
                <div class="form-group input-group-sm">
                    <label class="control-label" >Domain Server:</label>
                    <input class="form-control" type="text" placeholder="mail.delsys.net" ng-model="settings.domainServer"> 
                </div>
                <div class="form-group input-group-sm">
                    <label class="control-label" >Organization Unit Name:</label>
                    <input class="form-control" type="text" placeholder="Usuaris DELSYS" ng-model="settings.organizationUnitName"> 
                </div>
                <div class="form-group input-group-sm">
                    <label class="control-label" >Domain Controller (DC):</label>
                    <input class="form-control" type="text" placeholder="delsys.net" ng-model="settings.domainController"> 
                </div>
            </div>

            <button class="btn btn-success btn-block" ng-click="$hide();saveSettings()" >
                Ok 
            </button>
        </fieldset>
    </form>

    
</div>
